@import './variables';
@import './general';
@import './forms';
@import './slider';
@import './catalog';
@import './footer';
@import './modal';
@import './pageup';
@import './animation';
@import './mobile';
* {
    box-sizing: border-box;
    font-family: 'MuseoModerno', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
p{
    margin: 0;
}

